.projects {
  display: flex;
  flex-direction: row;
  width: 80%;
  align-items: center;
  justify-content: space-around;

  list-style-type: none;
  margin: 0;
  padding: 0;

  @media screen and(max-width: 425px) {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  li {
    cursor: pointer;

    img,
    span {
      border-radius: 0;
      transition: 1.4s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    img {
      width: 100px;
      height: 100px;
      object-fit: scale-down;
      padding: 0;
      box-sizing: border-box;

      @media screen and(max-width: 425px) {
        width: 80px;
        height: 80px;
      }

      @media screen and(max-height: 425px) {
        width: 80px;
        height: 80px;
      }
    }

    span {
      width: 100px;

      color: white;
      display: block;

      margin: 10px 0;

      text-transform: uppercase;
      text-align: center;
      font-weight: 100;
      opacity: 0;
      transform: rotateY(90deg) scale(1.5);
    }


    &:hover img {
      padding: 10px;
      background-color: $magenta;
      border-radius: 250px;
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
    }

    &:hover span {
      transform: rotateY(0deg) scale(1);
      opacity: 1;
    }
  }
}