section.contact {
  background-color: $deepBlue;
  background-image: url(../img/contactBg.svg);
  background-size: cover;

  display: flex;
  flex-direction: row;

  padding: 30px 5vw;
  box-sizing: border-box;

  color: white;
  font-weight: 100;

  @media screen and(max-width: 1024px) {
    flex-direction: column;
  }

  > * {
    flex: 1 0 0;
    margin: 0 5px;
  }

  h1 {
    font-weight: 100;
    font-size: 50px;
  }

  .map {
    .mapImg {
      background-image: url('https://maps.googleapis.com/maps/api/staticmap?center=44.4354281,26.0451413&size=640x640&scale=2&markers=size:small|44.4354281,26.0451413|&zoom=16&key=AIzaSyCfYK3Utyv34r2GJem9QoXUUYu12Wr0e-4');
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 250px;

      @media screen and(max-width: 425px) {
        display: none;
      }
    }
  }

  .form {
    form {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      width: 650px;
      height: calc(100% - 30px);
      margin: 50px auto 0 auto;

      @media screen and(max-width: 1024px) {
        width: 100%;
        flex-direction: column;
      }
    }

    input,
    textarea,
    button {
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;

      height: 20px;
      padding: 10px;

      border: 0;
      border-bottom: 5px solid darken(white, 5);
    }

    textarea {
      width: 100%;
      height: calc(100% - 180px);
      margin: 10px 0;
      resize: none;

      @media screen and(max-width: 1024px) {
        height: 200px;
        width: auto;
        margin: 0;
      }
    }

    input {
      flex: 1 0 0;
      &:first-child {
        margin-right: 10px;
      }

      @media screen and(max-width: 1024px) {
        &:first-child {
          margin: 0;
        }
        margin: 5px 0;
      }
    }

    button {
      height: 40px;
      width: 250px;
      text-align: center;
      color: white;
      font-weight: 800;
      text-transform: uppercase;
      background-color: $lightPink;
      border-bottom-color: darken($lightPink, 5);
      margin-left: auto;
      cursor: pointer;

      @media screen and(max-width: 1024px) {
        margin: 5px 0 0 auto;
      }
    }
  }

  &:before {
    content: '//CONTACT';
    color: white;
  }
}