section.missionStatement {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: 60vh;
  min-height: 500px;

  @media screen and(max-width: 1024px) {
    flex-direction: column;
    padding-top: 60px;
  }

  > * {
    flex: 1 0 0;
    margin: 0;
    padding: 0;
  }

  h1 {
    font-size: 60px;
    font-weight: 100;
    padding-left: 30px;
    color: $lightBlue;

    @media screen and(max-width: 1024px) {
      font-size: 50px;
      padding-left: 15px;
    }

    @media screen and(max-width: 425px) {
      font-size: 40px;
    }
  }

  .text {
    height: 50%;

    @media screen and(max-width: 1024px) {
      height: 70%;
    }
  }

  p {
    padding: 0 15px;
  }

  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    img {
      animation: photo 30s ease infinite;
      animation-fill-mode: both;

      width: 150px;
      height: 150px;

      @for $i from 1 to 5 {
        &:nth-child(#{$i}) {
          animation-delay: $i + 0.1s;
          animation-duration: $i * 10s;
        }
      }
    }
  }

  &:before {
    content: '//Mission Statement';
    color: $magenta;
  }
}

@keyframes photo {
  from { transform: scale(0.5) }
  50% { transform: scale(0.8) }
  to { transform: scale(0.5) }
}