mixin projects
  ul.projects
    li
      a(href='http://www.innovationlabs.ro' target='_blank')
        img(src='img/projects/innovationlabs.svg')
        span Innovation Labs
    li
      a(href='http://eap.cs.pub.ro' target='_blank')
        img(src='img/projects/ingear.svg')
        span Ingear
    li
      a(href='http://cs4hs.cs.pub.ro/wiki' target='_blank')
        img(src='img/projects/cs4hs.svg')
        span CS4HS
    li
      a(href='http://ocw.cs.pub.ro/courses/iot' target='_blank')
        img(src='img/projects/iot.svg')
        span Internet of Things
    li
      a(href='http://www.acadnet.ro' target='_blank')
        img(src='img/projects/acadnet.svg')
        span AcadNet
    li
      a(href='http://www.ccna.ro' target='_blank')
        img(src='img/projects/ccna.svg')
        span ccna.ro