mixin contact
  section.contact
    .map
      h1 Let's keep in touch!
      p Write us your message. Click 'Send'. Come visit. Don't be a stranger!
      a(href='#' target='_blank')
        .mapImg
    .form
      form
        input(type='text' placeholder='//NAME')
        input(type='text' placeholder='//EMAIL')
        textarea(placeholder='//MESSAGE')
        button(type='submit') Send