mixin contact
  section.contact
    .map
      h1 Let's keep in touch!
      p Nulla eleifend tellus eget dictum posuere. Fusce venenatis, enim in faucibus egestas, est metus pellentesque sapien, non laoreet enim ex vel ligula. In augue purus, congue sed vehicula quis, tempus quis ligula. Praesent sit amet magna nec ex dapibus malesuada. Phasellus pulvinar sed nibh in tincidunt. Quisque eget nisi augue. Vivamus placerat malesuada est, eget viverra neque semper a. Fusce a dui pellentesque, molestie dui sit amet, lacinia dui.
      a(href='#' target='_blank')
        .mapImg
    .form
      form
        input(type='text' placeholder='//NAME')
        input(type='text' placeholder='//EMAIL')
        textarea(placeholder='//MESSAGE')
        button(type='submit') Send