mixin header
  include common/projects.pug
  section.header
    img.logo(src='img/logo.svg')
    h1 disruptive by vocation
    +projects
    a(data-scroll href='#mission')
      img.scroll(src='img/mouse.svg')