mixin missionStatement
  section.missionStatement
    h1 We empower young people in Romania to create value through technology and globally competitive tech products.
    .text
      p Nulla eleifend tellus eget dictum posuere. Fusce venenatis, enim in faucibus egestas, est metus pellentesque sapien, non laoreet enim ex vel ligula. In augue purus, congue sed vehicula quis, tempus quis ligula. Praesent sit amet magna nec ex dapibus malesuada. Phasellus pulvinar sed nibh in tincidunt. Quisque eget nisi augue. Vivamus placerat malesuada est, eget viverra neque semper a. Fusce a dui pellentesque, molestie dui sit amet, lacinia dui.
      .gallery
        for id in [1,2,3,4]
          img(src='img/gallery/' + id + '.jpg')
