mixin missionStatement
  section.missionStatement#mission
    h1 We empower young people to find their voice and tune our world through teamwork and technical excellence.
    .text
      p Join our community of young tech enthusiasts, top industry professionals and ICT entrepreneurs, to find like-minded peers, mentors, partners, customers, investors, and friends. Choose your own adventure and sharpen your tech skills, get into a product mindset, unravel user-experience mysteries and make your mark on the world.
      .gallery
        for id in [1,2,3,4]
          img(src='img/gallery/' + id + '.jpg')
