mixin projectsSection
  include ./common/projects.pug
  section.projects
    .text
      h1 Opening opportunities, minds and doors
      p Everyone can make a great change in the world, and we want to support future thinkers and risk-takers to make their dreams come true. We believe in the power of daring to be different and to take the less beaten path in your quest to make the world a better place!
    +projects